.bottomNav {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px;
  background-color: #145c98;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 2px solid #e0e0e0;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  transition: color 0.3s ease-in-out;
}

.tab img {
  margin-bottom: 5px;
  filter: brightness(0) invert(1);
}

.activeTab {
  filter: brightness(0) invert(1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.activeTab span {
  /* display: none; */
}

.Icon {
  width: 30px;
  height: 30px;
}

.IconAsProfile {
  width: 30px;
  height: 30px;
  border-radius: 100px;
}

.tabProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  transition: color 0.3s ease-in-out;
}

.tabProfile img {
  margin-bottom: 5px;
}

.activeTabProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #fff;
}
@media (max-width: 768px) {
  .tab {
    font-size: 12px;
  }
}
