.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  padding: 5px;
  font-size: 18px;
  box-shadow: 2px 2px 5px #00000020;
  height: 35px;
}

.welcome {
  margin: 0;
}

.logoutBtn {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 500px;
  transition: background 0.3s ease-in-out;
  /* box-shadow: 1px 1px 2px #0000003e; */
}

.LogoutImg {
  width: 30px;
}
.logoutBtn:hover {
  background-color: #ccc;
}

@media (max-width: 600px) {
  .header {
    font-size: 16px;
    padding: 5px;
  }
  .logoutBtn {
    font-size: 14px;
  }
}
