:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  height: 100vh;
  background-color: #a0dae8;
}

body {
  margin: 0;
  width: 100%;
}

/* colors.module.css */
:root {
  --primary-color: #07c8f9; /* Blue */
  --secondary-color: #145c98; /* Green */
  --background-color: #f4f4f4; /* Light Grey */
  --text-color: #fff; /* Dark Grey */
  --accent-color: #094271; /* Red */
}
/* Google login sttyles */
.S9gUrf-YoZ4jf {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}
.nsm7Bb-HzV7m-LgbsSe {
  border-radius: 100px !important;
  padding: 10px !important;
  border: 1px solid #5990ff !important;
  box-sizing: content-box;
  background-color: #094271 !important;
  &:hover {
    background-color: #ffffff !important;
    border: 1px solid #000 !important;
  }
}

.nsm7Bb-HzV7m-LgbsSe-bN97Pc-sM5MNb {
  /* padding: 10px !important; */
}
.nsm7Bb-HzV7m-LgbsSe {
  color: #fff !important;
  padding: 30px !important;
  &:hover {
    color: #000 !important;
  }
}

/* For WebKit-based browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 3px; /* Width of the scrollbar */
  height: 1px; /* Height of the scrollbar (for horizontal scroll) */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track (background) color */
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background: #5751ff; /* Thumb (the draggable part) color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Thumb color when hovered */
}

::-webkit-scrollbar-button {
  display: none; /* Hide the buttons on the scrollbar */
}
