.container {
  display: flex;
  flex-direction: column;
  width: 100%;

  align-items: center;
}

.Dashboard {
  background: linear-gradient(to right, #145c98, #094271);

  width: 95%;
  border-radius: 10px;
  padding: 5px;
  flex-direction: column;
  margin: 10px 0px;
}

.innerBox {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  margin-top: -30px;
}

.MyReward {
  color: #fff;
  font-weight: bold;
  height: 10px;
  margin-left: 5px;
  margin-top: 0px;
}
.points {
  color: #fff;
  font-size: larger;
  font-weight: bolder;
}
.note {
  color: #fff;
  font-size: 10px;
}

.text {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
.reardicon {
  position: relative;
  width: 40px;
  height: 40px;
  top: 79px;
}

.left {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.Right {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-top: 40px;
}

/* //
//
//
// */

.gamesAndRewards {
  width: 95.7%;
  border-radius: 1px;
  padding: 5px;
  flex-direction: column;
  margin: 10px 0px;
  gap: 20px;
  display: flex;
}

.gameRowBox {
  display: flex;
  background-color: #0a85ed;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #ffffff28;
  padding: 15px;
}

.Left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.RightBox {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: right;
}
.PlayGame {
  cursor: pointer;
  border: 1px solid #fff;
  align-self: center;
  justify-self: center;
  border-radius: 100px;
  padding: 15px;
  width: 120px;
  font-weight: bolder;
  color: #fff;
  background: linear-gradient(to right, #2789d8, #570c94, #2789d8);
}
.PlayGame:hover {
  background: linear-gradient(to right, #15578c, #390861, #11456f);
}

.PlayText {
  color: #fff;
}
