.container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: left;
  height: 100vh;
  padding-bottom: 20px;
}
.containerInner {
  width: 95%;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.ProfileDetails {
  display: flex;
  width: 100%;
  background: linear-gradient(to right, #145c98, #094271);
  margin-top: 10px;
  color: #fff;
  border-radius: 5px;
  gap: 10%;
  box-shadow: -1px 1.5px 5px #00000036;
}

.picture {
  border-radius: 1000px;
  border: 0.1px solid;
  margin: 10px;
  width: 100px;
  height: 100px;
  display: flex;
  place-content: center;
}

.Left {
  display: flex;
  place-content: center;
}
.Right {
  display: flex;
  place-content: center;
  flex-direction: column;
}

.middleRight {
  display: flex;
  width: 100%;
  flex-direction: column;
  place-content: center;
}

.UserName {
  width: 100%;
}

.UserEmail {
  width: 100%;
  margin-top: -10px;
}
.transections {
  display: flex;
  width: 100%;
  margin-bottom: 20px !important;
  flex-direction: column;
}
.resentH {
  text-align: left;
}
.TransectonBox {
  display: flex;
  width: 100%;
  background-color: #0a85ed;
  margin-top: 10px;
  border-radius: 5px;
  gap: 10%;
  box-shadow: -1px 1.5px 5px #00000036;
}

.Wallet {
  display: flex;
  padding: 10px;
  width: 10%;
  place-content: center;
}
.WalletIcon {
  width: 50px;
  height: 50px;
  filter: brightness(0) invert(1);
}
.middleDetails {
  width: 60%;
  padding: 10px;
}

.PKR {
  width: 30%;
  place-content: center;
  padding: 10px;
  text-align: right;
}

@media (max-width: 786px) {
  .middleRight {
    font-size: 85%;
  }
}

.walletActions {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.WithdrawBtn {
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
  padding: 15px;
  background: linear-gradient(to right, #2789d8, #570c94, #2789d8);
}

.InvestBtn {
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  border: none;
  width: 100%;
  cursor: pointer;
  padding: 15px;
  background: linear-gradient(to right, #2789d8, #570c94, #2789d8);
}

.InvestBtn:hover {
  background: linear-gradient(to right, #15578c, #390861, #11456f);
}

.WithdrawBtn:hover {
  background: linear-gradient(to right, #15578c, #390861, #11456f);
}
