/* WinnerCard.module.css */

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.854);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: linear-gradient(to right, #145c98, #094271);
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  border: 1px solid #fff;
  text-align: center;
  position: relative;
  box-shadow: -1px -1px 5px rgba(255, 255, 255, 0.532);
}

.profileSection {
  color: #fff;
}
.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  display: flex;
  place-content: center;
  font-weight: bolder;
  cursor: pointer;
  background-color: #fff;
}
.closeButton:hover {
  background-color: #ccc;
}
.profilePicContainer {
  position: relative;
  display: inline-block;
}

.profilePic {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 3px solid #ffd700;
  position: relative;
  z-index: 100;
}

.crown {
  position: absolute;
  top: -220px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  position: relative;
  display: flex;
  z-index: 0;
}

.userName {
  font-size: 18px;
  font-weight: bold;
  margin-top: -100px;
}

.congratulationsSection {
  margin-top: 20px;
}

.stars {
  font-size: 24px;
  color: gold;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 100px;
}

.PlayAgian {
  width: 80%;
  border: none;
  padding: 15px;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
  border-radius: 10px;
  color: #fff;
  background: linear-gradient(to right, #2789d8, #570c94, #2789d8);
}
.PlayAgian:hover {
  background: linear-gradient(to right, #15578c, #390861, #11456f);
  border: 0.5px solid #fff;
}

.bigstar {
  width: 150px;
  position: relative;
  top: 40px;
}

.littlestars {
  width: 100px;
}

.crownPic {
  font-size: 24px;
  position: relative;
  z-index: 0;
}

.congrats {
  color: yellow;
}

.WinnerName {
  color: #fff;
}

.details {
  width: 100%;
  position: absolute;
  bottom: 45%;
}

.congratsName {
  font-size: 30px;
  font-weight: bolder;
}
